<div class="top-bar">
<nav class="navbar fixed-top navbar-light">
  <img width="125" height="125" src="../assets/logo3.png">
  <h1>Web Feed</h1>
  <!--<label for="hacky-input">
  <a href="#" class="crossRotate">
  <i class="fa fa-cog" aria-hidden="true"></i></a>
  </label>-->

</nav>
<div class="settings">
<input type="checkbox" id="hacky-input">
<label for="hacky-input">
  <div class="crossRotate">
    <i (click)="toggleMenu()" class="fa fa-cog" aria-hidden="true"></i>
  </div>
</label>
</div>
</div>

<body>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div id="feed" class="carousel slide" data-interval="false">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <h2>Facebook</h2>
        <app-facebook></app-facebook>
        <!--<iframe class="e2e-iframe-trusted-src" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Filtalehti.fi&tabs=timeline&width=500&height=900&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                width="500" height="900" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
      </div>
      <div class="carousel-item">
        <h2>Twitter</h2>
        <app-twitter></app-twitter>
      </div>
      <div class="carousel-item">
        <h2>YouTube</h2>
        <app-video class="youtube"></app-video>
      </div>
      <div class="carousel-item">
        <h2>RSS</h2>
        <app-sodexo></app-sodexo>
      </div>
    </div>
    <a class="carousel-control-prev" href="#feed" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#feed" role="button" data-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<!--  <div class="animtest">
    <p class="controls">
      <button class="btn btn-primary" (click)="showPrevPage()">Previous Page</button>
      <button class="btn btn-primary" (click)="showNextPage()">Next Page</button>
    </p>
    <template ngFor let-friend [ngForOf]="[ selectedPage ]">
      <div [@friendAnimation]="orientation" class="friend">
        <div class="name">
          <div class="e2e-inner-html-bound" [innerHTML]="friend.html | sanitizeHtml"></div>
        </div>
        <div class="avatar"></div>
        <div class="meta">
          <p>{{friend.id}}</p>
          <p>test</p>
        </div>
      </div>
    </template>
  </div>-->

  <!--<div class ="app-facebook">
    <app-facebook class="fb"></app-facebook>
  </div>-->

  <!--<div class="nextbutton">
    <button (click)="isVisible = !isVisible" (click)="isVisible2 =!isVisible2" type="button" class="btn btn-primary">Next</button>
  </div>
  <div class="row" id="feed">-->

    <!--<div class="col-xs-6">
      <button ng-click="connectButton()" id="connectButton" type="button" class="btn btn-primary">Connect Twitter</button>
      <button ng-click="refreshTimeline()" id="getTimelineButton" type="button" class="btn btn-primary" style="display:none;">Feed me</button>
      <button ng-click="signOut()" id="signOut" type="button" class="btn btn-danger" style="display:none;">Sign Out</button>
    </div>-->

    <!--<app-fader class="app-fader "[isVisible]="!isVisible">

    <a data-width="900" data-height="600"
       class="twitter-timeline" href="https://twitter.com/steam_games">Tweets by steam_games
    </a>

    </app-fader>-->

    <!--<app-video class="app-video" [isVisible2]="isVisible2">
    </app-video>-->

  </div>
  <!--<div ng-controller="VideosController"></div>
  <button ng-click="launch()" id="launch" type="button" class="btn btn-primary">Launch</button>
  <div id="player">
    <div id="placeholder" width="640" height="390">
    </div>
  </div>
  -->
<footer class="navbar fixed-bottom navbar-light" id="footer">
  <a class="navbar-brand" href="#"></a>
</footer>
</body>
<app-fader [@slideInOut]="menuState"></app-fader>
