@import '../../node_modules/bootstrap/scss/bootstrap';
$darkestblue: #16193B;
$darkerblue: #35478C;
$blue: #4E7AC7;
$lightblue2: #7FB2F0;
$lightblue: #ADD5F7;

$navbarborder: $darkestblue;
$navbarbg: $darkerblue;
$sitebg: $blue;

.top-bar {
  position: relative;
}
.navbar {
    float: left;
    background-color: $navbarbg;
    border-color: $navbarborder;
    height: 5em;
    z-index: 9995;
    img {
      float: left;
    }
    h1 {
      font-family: "Tahoma", sans-serif;
      color: $lightblue;
      float: right;
      margin-left: 4em;
      margin-top: -3em;
    }
}

.settings {
    position: fixed;
    margin: auto;
    float: right;
    margin-left: 90%;
    z-index: 9999;
    label {
      font-size: 3em;
      color: $lightblue;
    }
    #hacky-input {
      display: none;
    }
}


  .crossRotate {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }

  #hacky-input:checked + label div.crossRotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }


body {
  background: -moz-linear-gradient(270deg, $lightblue 0%, $darkestblue 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $lightblue), color-stop(100%, $darkestblue)); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, $lightblue 0%, $darkestblue 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, $lightblue 0%, $darkestblue 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, $lightblue 0%, $darkestblue 100%); /* ie10+ */
  background: linear-gradient(180deg, $lightblue 0%, $darkestblue 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0000ff',GradientType=0 ); /* ie6-9 */
}

.row-2{
  margin: 2em;
}

#feed{
  margin-top: 10em;
}

.animtest{
  margin: auto;
  margin-top: 5em;
}

.container{
  margin: auto;
  width: 50%;
  height: 100em;
  background-color: $sitebg;
}

#footer {
  margin-bottom: -20px;
  height: 5em;
  background-color: $navbarbg;
  border-color: $navbarborder;
}

.app-fader{
  position: absolute;
}

.app-video{
  margin: 1em;
  position: absolute;
}

.carousel-item {
  h2{
    position: absolute;
    color: #35478C;
  }
  height: 75%;
}

app-twitter{
  margin: 0 auto;
}

app-facebook{
  margin: 0 auto;
}

app-sodexo{
  height: 50em;
}

.youtube{
  margin: 0 auto;
}

.carousel-control-prev{
  margin-top: 15em;
  height: 5em;
  width: 5em;
}
.carousel-control-next{
  margin-top: 15em;
  height: 5em;
  width: 5em;
}
