@import '../../node_modules/bootstrap/scss/bootstrap';
$darkestblue: #16193B;
$darkerblue: #35478C;
$blue: #4E7AC7;
$lightblue2: #7FB2F0;
$lightblue: #ADD5F7;

$navbarborder: $darkestblue;
$navbarbg: $darkerblue;
$sitebg: $blue;


.navbar {
  background-color: $navbarbg;
  border-color: $navbarborder;
  height: 5em;
  h1{
    font-family: sans-serif;
  }
}

.row-2{
  margin: 2em;
}

.app-facebook{
  margin-top: 5em;
}

.animtest{
  margin: auto;
  margin-top: 5em;
}

.container{
  margin: auto;
  width: 50%;
  height: 180em;
  background-color: $sitebg;
}

#footer {
  margin-bottom: -20px;
  height: 5em;
  background-color: $navbarbg;
  border-color: $navbarborder;
}

.app-fader{
  position: absolute;
}

.app-video{
  margin: 1em;
  position: absolute;
}

