
.rss{
  margin:auto;
  margin-top: -5em;
  padding: 5em;
  justify-content: center;
  width: 50em;
  height: 50em;
}

.text{
  overflow-y: auto;
  border:1px solid #35478C;
  margin: auto;
  padding: 5em;
  justify-content: center;
  width: 47em;
  height: 40em;
}