
.rss{
  overflow-y: auto;
  margin:auto;
  //padding: 5em;
  justify-content: center;
  width: 75%;
  height: 90%;
}

.text{
  overflow-y: auto;
  border:1px solid #35478C;
  margin: auto;
  padding: 5em;
  justify-content: center;
  //width: 47em;
  //height: 40em;
}
